:root {
  /*--vh: 0;*/
  /*--header-height: 0;*/

  --primary: 180 255 105;

  --contrast: 255 255 255;
  --dark: 34 36 36;

  --light-grey: 222 222 222;
  --blue: 24 82 255;
  --blue-light: 42 94 250;

  --error: 255 1 1;
  --placeholder: 69 66 66;
  --text-dark: 20 20 20;
  --theme-blue: 24 82 255;

  --brand: 0 255 196;

  --blue-dark: 15 27 52;
  --blue-light: 29 44 75;
  --white: 253 253 253;
}

@media not all and (min-resolution: .001dpcm) {
  img[loading="lazy"] {
    clip-path: inset(0.5px)
  }
}

@tailwind base;
@layer base {
  html {
    @apply bg-blue-dark text-white;
  }

  *, *::after, *::before {
    font-variant-numeric: lining-nums;
  }

  html,
  body {
    font-family: "Press Start 2P", system-ui, sans-serif;
    @apply antialiased;
    touch-action: manipulation;
    text-rendering: optimizeLegibility;
    overscroll-behavior-x: none;
    /* background: var(--blue-dark);
    color: var(--white); */
  }

  svg {
    @apply size-full
  }

  .field,
  input {
    @apply w-full py-2.5 px-3 disabled:cursor-not-allowed leading-5 text-left rounded outline-0;
  }

  .field[input] {
    @apply truncate;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    @apply [&:-internal-autofill-selected]:[-webkit-box-shadow:0_0_0_50px_white_inset] [&:-internal-autofill-selected:focus]:[-webkit-box-shadow:0_0_0_50px_white_inset]
    /*-webkit-text-fill-color: #333;*/
  }

  textarea {
    @apply text-black rounded-[20px] py-2.5 px-3 leading-5;
  }

  a,
  button,
  textarea,
  [tabindex],
  input[type="text"],
  input[type="email"] {
    @apply focus:ring-0 focus-visible:outline-0 focus-visible:ring-0 focus-visible:ring-transparent [.with-focus_&:focus-visible]:ring [.with-focus_&:focus-visible]:ring-primary;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  button {
    @apply [.with-focus_&:focus-visible]:ring-primary/70;
  }

  [aria-hidden] {
    @apply pointer-events-none select-none
  }
}

@tailwind components;
@layer components {
  .container {
    @apply w-full max-w-[1190px] 2xl:max-w-[1296px] px-4 md:px-6 2xl:px-10 mx-auto;
  }

  .section-y-spaces {
    @apply space-y-20 lg:space-y-25 xl:space-y-30;
  }

  .section-y-spaces #section-1 {
    @apply pt-20 lg:pt-25 xl:pt-30 2xl:pt-40 mt-0;
  }

  .field {
    @apply min-h-[42px] border placeholder-shown:text-ellipsis
    enabled:bg-neutral-600 enabled:text-white enabled:placeholder-white/70 enabled:border-neutral-600
    enabled:focus-visible:border-neutral-500 enabled:focus-visible:outline-none enabled:focus:ring-0
    disabled:bg-neutral-700 disabled:text-white/70 disabled:border-neutral-700;
  }

  .field-white {
    @apply bg-white text-dark;
  }

  .link-white {
    @apply transition-colors text-white hover:text-opacity-75 active:text-primary-700 active:border-current hover:border-current
  }

  .typo-text {
    @apply font-medium text-[16px] leading-[26px];
  }

  .typo-title-1 {
    @apply font-semibold lg:font-medium text-[42px] md:text-[46px] lg:text-[52px] xl:text-[62px] 2xl:text-[72px] leading-[50px] md:leading-[55px] lg:leading-[62px] xl:leading-[74px] 2xl:leading-[86px];
  }

  .typo-title-4 {
    @apply font-extrabold text-[32px] leading-[48px];
  }

  .typo-title-5 {
    @apply font-extrabold text-2xl leading-9;
  }

  .typo-title-4-mobile {
    @apply font-extrabold text-xl leading-9;
  }

  .typo-h4 {
    @apply font-extrabold text-[20px] leading-[32px] md:text-[28px] md:leading-[48px] xl:text-[36px]
  }

  .typo-text-base {
    @apply font-medium leading-[26px] md:text-[14px] md:leading-[22px] xl:text-[16px] xl:leading-[26px]
  }

  .typo-text-lg {
    @apply font-medium leading-[26px] md:text-[14px] md:leading-[22px] lg:text-[16px] lg:leading-[26px] 2xl:text-[20px] 2xl:leading-8
  }

  .typo-text-14 {
    @apply font-medium text-[14px] leading-[26px]
  }

  .n-h2 {
    @apply text-[32px] leading-[38px] md:leading-[48px] lg:text-[32px] lg:leading-[38px] xl:text-[40px] xl:leading-[56px] font-medium
  }

  .n-h3 {
    @apply text-base leading-[22px] sm:text-[21px] sm:leading-[28px] md:text-[26px] md:leading-[34px] lg:text-[32px] lg:leading-[42px] font-semibold md:font-medium
  }

  .m-card {
    @apply flex flex-col sm:min-h-[315px] max-w-[770px] size-full p-4 xl:px-8 xl:py-10 text-sm xs:text-base xs:leading-[22px] md:text-[20px] md:leading-7 rounded-3xl border-8 border-white;
  }

  .m-card__content {
    @apply grow mt-3.5 xs:mt-5 md:mt-8 space-y-4 md:space-y-6
  }

  .m-card__h2 {
    @apply font-medium text-2xl
    xs:text-[32px] xs:leading-[38px]
    md:text-[28px] md:leading-8
    lg:text-[32px] lg:leading-[38px]
    xl:text-[40px] xl:leading-[48px]
  }

  .banner-section-height {
    --banner-min-height: calc((var(--vh, 1vh) * 96) - var(--header-height, 0));
    /*min height should be static size*/
    --min-height: calc((var(--vh, 1vh) * 60));
    @apply rounded-3xl overflow-hidden
    [--header-height:128px] md:[--header-height:200px]
    lg:min-h-[min(min(var(--banner-min-height),var(--min-height)),487px)]
  }

  .banner-section {
    --banner-min-height: calc((var(--vh, 1vh) * 100) - var(--header-height, 0));
    /*min height should be static size*/
    --min-height: calc((var(--vh, 1vh) * 60));
    @apply flex items-end md:items-center rounded-3xl overflow-hidden py-8 xs:py-10 px-5 sm:px-6 md:px-12 xl:px-18
    [--header-height:100px] md:[--header-height:200px]
    min-h-[var(--banner-min-height)] md:min-h-[min(min(var(--banner-min-height),var(--min-height)),487px)]
  }
}

@tailwind utilities;
@layer utilities {
  .h-screen-safe {
    height: min(calc(100vh - env(safe-area-inset-bottom, 0px)), 100vh);
  }

  @supports (height: 100dvh) {
    .h-screen-safe {
      height: min(calc(100dvh - env(safe-area-inset-bottom, 0px)), 100dvh);
    }
  }

  .bg-radial-banner-dark {
    background: radial-gradient(159.48% 86.76% at 50.13% 101.05%, rgba(0, 255, 196, 0.2) 0%, rgba(0, 255, 196, 0) 100%), #242625;
  }

  .gradient-text-dark {
    @apply text-transparent bg-clip-text bg-black bg-gradient-to-r from-[#2B2B2B_33.39%] to-[#00FFC4_77.42%];
  }

  .gradient-text-dark-600 {
    @apply text-transparent bg-clip-text bg-black bg-gradient-to-r from-[#2B2B2B_33.39%] to-[#0ED3A3_77.42%];
  }

  .gradient-text-white {
    @apply text-transparent bg-clip-text bg-black bg-gradient-to-r from-[#FFFFFF_33.39%] to-[#00FFC4_77.42%];
  }

  .banner-black-bg {
    @apply text-white backdrop-blur-0;
    background: linear-gradient(183.24deg, rgba(0, 0, 0, 0.2) 32.24%, rgba(14, 211, 163, 0.2) 91.35%), #000000;
  }

  .banner-primary-bg {
    @apply backdrop-blur-0;
    background: linear-gradient(183.24deg, rgba(14, 211, 163, 0.2) 32.24%, rgba(0, 0, 0, 0.2) 91.35%), #00ffc4;
  }

  .bg-black-gradient-tr {
    @apply bg-gradient-to-tr from-50% from-black/20 to-100% to-brand/20 text-white rounded-3xl;
    background-color: black;
    backdrop-filter: blur(4px);
  }

  .bg-black-gradient-tl {
    @apply bg-gradient-to-tl from-50% from-black/20 to-100% to-brand/20 text-white rounded-3xl;
    background-color: black;
    backdrop-filter: blur(4px);
  }

  .bg-black-gradient-r {
    @apply text-white rounded-3xl;
    background: linear-gradient(282.81deg, rgba(0, 0, 0, 0.2) 65.16%, rgba(0, 255, 196, 0.2) 101.46%), #000000;
  }

  .bg-white-gradient-tr {
    background: linear-gradient(164.33deg, rgba(14, 211, 163, 0.06) 9.48%, rgba(242, 242, 242, 0.06) 31.6%), #ffffff;
  }

  .contain-layout {
    contain: layout;
  }

  .loader {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M21 12a9 9 0 1 1-6.219-8.56'/%3E%3C/svg%3E");
  }
}
